#categorias{
    height: auto;
    width: 100%;
    background-color: #000;
    padding-top: 8vh;
    padding-bottom: 8vh;

    .sub-titulo{
        font-size: 2.2rem;
        font-weight: bold;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        ion-icon{
            color: #ffdc17;
        }
    }

    p{
        color: #fff;
        font-size: 1.3rem;
        padding-bottom: 10px;

        @media (max-width: 1000px) {
            padding: 0 5%;
            text-align: justify;
            font-size: .9rem;
            padding-bottom: 4px;
         }
    }

    .cards-box{
        display: flex;
        flex-direction: column;
        background-color: transparent;

        .cards{
            padding-top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            @media (max-width: 440px) {
                justify-content: center;
                align-items: center;
            }

            .card{
                max-width: 200px;
                max-height: 200px;
                background-color: #ffdc17;
                min-width: 200px;
                min-height: 200px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: .8;
                transition: .3s;

                &:hover{
                
                    opacity: 1;
                    cursor: pointer;
                    transition: .3s;
                    transform: translateY(-3px);

                }
            }
        }

       
    }

    .premiacao-box{
        padding-top: 5%;
        display: flex;
        flex-direction: column;

        p{
            color: #fff;
        }
    }
}