footer{
    width: 100%;
    min-height: 100px;
    height: auto;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;

    .animacao{
        z-index: 1; 
        background-color: transparent;
        animation: robo infinite 3s ease-in-out;

        img{
            width: 100%;
        }
    }

    span{
        padding-top: 10px;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .itens{
        background-color: transparent;
        width: 100%;
        flex-wrap: wrap;
        padding: 10px;
        display: flex;
        gap: 30px;
        justify-content: center;

        a{
            text-decoration: none;
            

            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
    
                .icone{
                    font-size: 2rem;
                    color: #fff;
                    transition: .3s;
                }
            }

            &:hover{
            

                .icone{
                    font-size: 2rem;
                    color: #ffdc17;
                    transition: .3s;
                }
            }
        }
    }
    .nome{
        font-size: 1rem;
        padding: 10px;
        text-align: center;
    }
}