@import '../vars/vars.scss';

.efeito-fundo{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: radial-gradient(circle at 100%, #00000000, #000000 60%, #000 40%, #000 40%);
    z-index: 0;
}

main{
    min-height: 100vh;
    height: auto;
    width: 100%;
    //background: radial-gradient(ellipse at top, #000, transparent),
                //radial-gradient(ellipse at bottom, #333, transparent),
                //radial-gradient(circle at 10%, #222, transparent);
    background-image: url('../../img/wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    .parts{
        width: 100%;
        height: auto;
        min-height: 100vh;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media (max-width: 1000px) {
            flex-direction: column;
        }

        .part1{
            width: 50%;
            background-color: transparent;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            

            h1{
                color: #ccc;
                font-size: 1.2rem;
                z-index: 1;
            }
            h2{
                color: #fff;
                font-size: 3.5rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-top: -10px;
                z-index: 1;
            }

            .texto-inicio{
                z-index: 1;
            

                p{
                    color: #fff;
                    font-size: 1.3rem;
                    padding-bottom: 10px;

                    @media (max-width: 1000px) {
                        padding: 0 5%;
                        text-align: justify;
                        font-size: .9rem;
                        padding-bottom: 4px;
                     }
                }
            }

            .botoes{
                z-index: 1;
                display: flex;
                gap: 10px;
                @media (max-width: 1000px){
                    flex-direction: column;
                    gap: 0;
                }

                .btn-inicio{
                    margin-top: 10px;
                    color: #222;
                    text-decoration: none;
                    background-color: #ffdc17;
                    width: 250px;
                    text-align: center;
                    padding: 10px 20px;
                    border-radius: 25px;
                    border: 1px solid #ffdc17;
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;

                    @media (max-width: 1000px){
                        width: 300px;
                        font-size: 1rem;
                    }
                    &:hover{
                        transition: .3s;
                        
                    }
                }

                .reg{
                        background-color: transparent;
                        color: #ffdc17;
                        
                }
            }

            @media (max-width: 1000px) {
               width: 100%;
               height: 50%;
               align-items: center;
               justify-content: flex-start;
               padding-top: 10vh;
            }

            
            @media (max-width: 536px) {
                width: 100%;
                height: 60%;
             }
        }

        .part2{
            width: 50%;
            background-color: transparent;
            height: 100%;
            padding-top: 10vh;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;

            .animacao{
                z-index: 1; 
                background-color: transparent;
                animation: robo infinite 3s ease-in-out;

                img{
                    width: 100%;
                }
            }

            .boxs{
                z-index: 1;
                display: flex;
                width: 35vw;
                justify-content: space-between;
                background-color: transparent;
                gap: 10px;

                @media (max-width: 1000px) {
                    width: 100%;
                 }

                .box-contador{
                    background: radial-gradient( #303030, rgb(26, 26, 26));
                    color: #fff;
                    width: 50%;
                    padding: 14px;
                    border-radius: 10px;
    
                    @media (max-width: 1000px) {
                        width: 100%;
                        text-align: center; 

                        span{
                            font-size: .6rem;
                        }

                     }
    
                    .contador {
                        font-size: 1.3rem;
                        font-weight: bold;
                        color: #fff;

                        @media (max-width: 1000px) {
                            width: 100%;
                            text-align: center; 
                            font-size: 1rem;
                         }
                      }
                }
            }

            @media (max-width: 1000px) {
                width: 100%;
                height: 50%;
                padding-top: 20px;
                padding:  5%;
                justify-content: center;
                align-items: center;
             }
        }
    }
}

@keyframes robo{
    0%{
        transform: translateY(-10px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(-10px);
    }
}