.patrocinadores{
    background-color: #000;

    .titulo-patrocinadores{
        width: 100%!important;
        background-color: transparent;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        span{
            color: #fff;
            text-align: center;
            font-size: 2rem;
            font-weight: bolder!important;

            @media (max-width: 1000px){
                font-size: 1.4rem;
                padding-bottom: 40px;
            }
        }
    }

    .patrocinios{
       width: 100%;
       display: flex;
       gap: 30px;
       justify-content: space-around;

       @media (max-width: 1000px){
        gap: 2px;
        gap: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
    }

        .patrocinio{
            width: 400px;
            height: 200px;            
            background-color: transparent;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1000px){
                width: 60px;
                height: 60px;
            }

          
            img{
                width: 400px;
                //filter: grayscale(100%);
                opacity: 1;
                transition: .3s;
                cursor: pointer;
                border-radius: 12px;

                @media (max-width: 1000px){
                    width: 200px;
                    opacity: 1;
                }
            }
        }
    }
}

